body {
    background-color: grey;
    font-family: 'Avenier', 'Arial', 'Helvetika';

    min-height: 100vh;
    margin: 0;
}

main {
    display: block;
    min-height: 10vh;
}

main > div {
    display:inline-block;
}

.border-red {
    border: 1px red solid;
}


.green-bgnd {
    background-color: #040;
}

.dark-grey-bgnd {
    background-color: #222;
}

.brown-bgnd {
    background-color: rgb(100, 62, 11);
}

.red-text {
    color: red;
}

.div-size500 {
    width: 500px;
    height: 500px;
}
