
.polygon-wrapper {
    position: relative;
}

.polygon-wrapper > div {
    position: absolute;
    top: 0;
}

.shape-demo1 {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 50% 50%);
}

.shape-dreieck1 {
    clip-path: polygon(41.877%  0, 58.123% 0, 50% 50%);
}

.shape-circle1 {
    border-radius: 50%;
}



.rotate-45deg {
    transform: rotate(45deg);
}



